messagingmw/messagingfw/wappushfw/tpush/RefTestAgent/inc/rights.dtd

<!ELEMENT drmrights (rights+)>
<!ELEMENT rights (forwardlock*, pending*, intent*)>
<!ELEMENT forwardlock EMPTY>
<!ELEMENT pending (#CDATA)>
<!ELEMENT intent (count*, expiry*)>
<!ELEMENT count (#CDATA)>
<!ELEMENT expiry (day, month, year)>
<!ELEMENT day (#CDATA)>
<!ELEMENT month (#CDATA)>
<!ELEMENT year (#CDATA)>
<!ATTLIST rights cid CDATA #REQUIRED>
<!ATTLIST intent type (display|play|print|execute)>
